[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
redis = "*"
celery = "*"
django-redis = "*"
whitenoise = "*"
gunicorn = "*"
waitress = "*"
pymysql = "*"
mysqlclient = "*"
django-debug-toolbar = "*"
async-timeout = "*"
charset-normalizer = "*"
flower = "*"
render = "*"

[dev-packages]

[requires]
python_version = "3.11"  # Verify compatibility with Vercel
