Django==5.0.7
djangorestframework==3.15.2
drf-nested-routers==0.94.1
django-filter==24.3
djoser==2.2.3
djangorestframework-simplejwt==5.3.1
pillow==10.4.0
django-cors-headers==4.4.0
redis==5.0.8
celery==5.4.0
django-redis==5.4.0
dj-database-url==1.0.0
whitenoise==6.7.0
gunicorn==22.0.0
waitress==2.1.2
pymysql==1.0.2  # Use pymysql instead of mysqlclient
django-debug-toolbar==4.4.6
async-timeout==4.0.3
charset-normalizer==3.3.2  # Replace chardet with charset-normalizer
flower==2.0.1
render==1.0.0
